@model Reservation
@{
    string OrganisationTitle = Model.Organizations.FirstOrDefault(b => b.Value == Model.OrganizationId.ToString())?.Text;
}
<div style="background-color: #f8f9fa; padding: 20px;">
<h2>Reservation details</h2>
        
<div>
    <dl class="dl-horizontal">
        <dt>ID</dt>
        <dd>@Model.Id</dd>

        <dt>Date</dt>
        <dd>@Model.Date</dd>

        <dt>City</dt>
        <dd>@Model.City</dd>

        <dt>Region</dt>
        <dd>@Model.Region</dd>

        <dt>Room</dt>
        <dd>@Model.Room</dd>
        
        <dt>Owner</dt>
        <dd>@Model.Name</dd>

        <dt>Price</dt>
        <dd>@Model.Price</dd>

        <dt>Organisation</dt>
            <dd>@OrganisationTitle</dd>
    </dl>
</div>

<p>
    <a asp-action="Index" class="btn btn-primary">Back</a>
</p>
</div>