@model Reservation
@{
}

<h2>Szczegóły Rezerwacji</h2>

<div>
    <dl class="dl-horizontal">
        <dt>ID</dt>
        <dd>@Model.Id</dd>

        <dt>Data</dt>
        <dd>@Model.Date</dd>

        <dt>Miasto</dt>
        <dd>@Model.City</dd>

        <dt>Adres</dt>
        <dd>@Model.Region</dd>

        <dt>Pokój</dt>
        <dd>@Model.Room</dd>
        
        <dt>Właściciel</dt>
        <dd>@Model.Name</dd>

        <dt>Cena</dt>
        <dd>@Model.Room</dd>
    </dl>
</div>

<p>
    <a asp-action="Index" class="btn btn-primary">Powrót do Listy</a>
</p>
